<line-item class="line-item gap-2">
  {% if line_item.image != blank %}
    {{- line_item.image | image_url: width: line_item.image.width | image_tag: loading: 'lazy', sizes: '(max-width: 699px) 70px, 120px', widths: '70,120,140,210,240,360', class: 'line-item__media' -}}
  {% endif %}
  <div class="line-item-info">
     <div class="v-stack justify-items-start gap-2">
      <div class="v-stack justify-items-start gap-1">
        {%- if line_item.url != blank -%}
          <a href="{{ line_item.url }}" class="line-item__title">
            {{ line_item.product.title |  default: line_item.title }}
          </a>  
        {%- else -%}
          <p class="line-item__title">{{ line_item.product.title |  default: line_item.title }}</p>
        {%- endif -%}
        <div class="h-stack align-start gap-2">
          <span class="line-item__current-price">{{ line_item.product.price |  money }}</span>
          <span class="line-item__cap">{{ line_item.product.compare_at_price |  money }}</span>
          {%  assign original_price = line_item.product.compare_at_price %}
          {%  assign current_price = line_item.product.price %}
          
          {% if original_price > current_price %} 
            {%  assign savings = original_price | minus: current_price %}
            {%  assign savings_percentage = savings | times: 100 |  divided_by: original_price |  abs %}
            {%  assign savings_percentage_rounded = savings_percentage |  round %}
            <div class="line-item__save-badge">
              <span>SAVE</span> {{ savings_percentage_rounded }}%
            </div>  
          {% endif %}
          
        </div>
        <line-item-quantity class="h-stack gap-4 {% if request.page_type == 'cart' %}sm:hidden{% endif %}">
          {%- render 'new-quantity-selector', line_item: line_item, size: 'sm' -%}
          <a href="{{ line_item.url_to_remove }}" class="link text-xs"></a>
        </line-item-quantity>
      </div>
     </div>

  </div>

</line-item>